{
  "swagger": "2.0",
  "info": {
    "title": "hub statistics API",
    "version": "v1.3"
  },
  "host": "data.europa.eu",
  "basePath": "/api/hub/statistics",
  "schemes": [
    "https"
  ],
  "paths": {
    "/data": {
      "get": {
        "description": "Retruns an overview about the available dates for further requests.",
        "parameters": [],
        "responses": {},
        "tags": [
          "Data"
        ]
      }
    },
    "/data/{identifier}": {
      "get": {
        "description": "Retruns specific dates for identifier.",
        "parameters": [
          {
            "description": "The identifier of specific data.",
            "in": "path",
            "name": "identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "tags": [
          "Data"
        ]
      }
    },
    "/grab-data": {
      "get": {
        "description": "Initialize the data harvesting.",
        "parameters": [],
        "responses": {},
        "tags": [
          "Data"
        ]
      }
    },
    "/reinit-db": {
      "get": {
        "description": "Drops all tables and recreates the schema. ALL DATA WILL BE LOST. Requires X-API-KEY header.",
        "parameters": [
          {
            "description": "Secret key to authorize database reset",
            "in": "header",
            "name": "X-API-KEY",
            "required": true
          }
        ],
        "responses": {},
        "tags": [
          "Maintenance"
        ]
      }
    },
    "/test": {
      "put": {
        "description": "Execute a test case for data upload.",
        "parameters": [],
        "responses": {},
        "tags": [
          "Test"
        ]
      }
    }
  }
}